In [1]:
print("this is my 1st python program");

this is my 1st python program

# Variable in python

Data/Values can be stored in temporary storage spaces called variable.

In [2]:
student="Deepa"

In [3]:
student

'Deepa'

In [2]:
student="kanha"

In [5]:
student

'kanha'

In [6]:
student="Rameswar"

In [7]:
student

'Rameswar'

# Datatype

Every Variable is associated with a Data-type

In [8]:
a1=10
a1

10

In [9]:
type(a1)

int

In [10]:
a1=5.6
a1

5.6

In [11]:
type(a1)

float

In [13]:
a1=True
a1

True

In [14]:
type(a1)

bool

In [15]:
a1="hello world"
a1

'hello world'

In [16]:
type(a1)

str

In [17]:
a1=3+6j
a1

(3+6j)

In [18]:
type(a1)

complex

# OPERATORS IN PYTHON

In [19]:
#Arithmatic operators

In [20]:
# +,-,*,/

In [21]:
a=10
b=20

In [22]:
a,b

(10, 20)

In [23]:
a+b

30

In [24]:
a-b

-10

In [25]:
a*b

200

In [26]:
a/b

0.5

In [27]:
#relational oprators

In [28]:
#<,>,==,!=

In [29]:
a=50
b=100

In [30]:
a<b

True

In [31]:
a>b

False

In [32]:
a==b

False

In [33]:
a!=b

True

In [34]:
#Logical operators

In [35]:
# & |

In [36]:
a=True
b=False

In [37]:
a&b

False

In [38]:
a&a

True

In [39]:
a|a

True

In [40]:
a|b

True

In [41]:
b&a

False

In [42]:
b&b

False

In [43]:
b|a

True

In [44]:
b|b

False

# Python tokens

Smallest meaningful component in a program.

# keyword:

keyword doesn't asign a variable name.

# identifiers:

Identifiers are names used for variables,functions,or objects

In [45]:
Student="Deepa"
Student

'Deepa'

In [46]:
student="ram"
student

'ram'

In [47]:
Student

'Deepa'

In [48]:
student

'ram'

# Literals:

Literals are constants in python

In [52]:
a="hello world"
a

'hello world'

# python strings:

Strings are Sequence of characters enclosed within single Quotes('').double Quotes("")

In [53]:
str1='this is my 1st string'

In [54]:
str1

'this is my 1st string'

In [57]:
str2="this is my 2nd string"

In [56]:
str2

'this is my 2nd string'

In [64]:
str3="'this is my 3rd  string'"

In [60]:
str3

"'this is my 3rd  string'"

# Extracting individual characters

In [65]:
my_string="my name is deeparani padhy"

In [66]:
my_string[0]

'm'

In [67]:
my_string[-1]

'y'

In [71]:
my_string[5:15]

'me is deep'

# String functions

In [73]:
len(my_string)

26

In [74]:
my_string.lower()

'my name is deeparani padhy'

In [75]:
my_string.upper()

'MY NAME IS DEEPARANI PADHY'

In [76]:
my_string.replace('y','a')

'ma name is deeparani padha'

In [77]:
new_string='deepa deepa rani rani 143 143 s'

In [78]:
new_string

'deepa deepa rani rani 143 143 s'

In [79]:
new_string.count('deepa')

2

In [80]:
new_string.count('143')

2

In [81]:
s1='this is my laptop'

In [82]:
s1.find('laptop')

11

In [83]:
fruit='i like mango,water mellon,papaya'
fruit.split(',')

['i like mango', 'water mellon', 'papaya']

# Tuple in python

In [1]:
tup1=(1,True,3.45,5-7j)

In [2]:
tup1

(1, True, 3.45, (5-7j))

In [3]:
type(tup1)

tuple

In [4]:
tup1[0]

1

In [5]:
tup1[-1]

(5-7j)

In [6]:
tup1[1:4]

(True, 3.45, (5-7j))

## lenth of tuple

In [7]:
len(tup1)

4

In [8]:
tup1=(1,2,3)
tup2=(4,5,6)

In [9]:
tup1,tup2

((1, 2, 3), (4, 5, 6))

In [10]:
tup1+tup2

(1, 2, 3, 4, 5, 6)

In [11]:
tup2+tup1

(4, 5, 6, 1, 2, 3)

In [12]:
tup1=('dipa',143)

In [13]:
tup1

('dipa', 143)

In [14]:
tup1*5+tup2

('dipa', 143, 'dipa', 143, 'dipa', 143, 'dipa', 143, 'dipa', 143, 4, 5, 6)

# Fuction

In [15]:
tup1=(1,2,3,4,5)
min(tup1)

1

In [16]:
max(tup1)

5

# FLOW CONTROL STATEMENT

# #IF STATEMENT

In [35]:
a=10

In [29]:
b=20

In [37]:
if b>a:
 print("b is greater value")

b is greater value

In [38]:
a=10
b=20
c=30

In [45]:
if (a>b) & (a>c) :
    print("a is gretest value")
elif (b>a) & (b>c) :
    print("b is gretest value")
else: 
    print("c is greatest value")

c is greatest value

In [46]:
tup1=('a','b','f','c')

In [47]:
tup1

('a', 'b', 'f', 'c')

In [48]:
if 'z' in tup1:
 print("z is available in tup1")
else:
 print("z is not available in tup1")

z is not available in tup1

In [ ]:
#if with list

In [1]:
l1=['a','b','c']

In [3]:
if l1[1]=='b':
    l1[1]='z'

In [4]:
l1

['a', 'z', 'c']

In [5]:
#if with dictionary

In [6]:
d1={'k1':10,'k2':20,'k3':30}

In [7]:
d1

{'k1': 10, 'k2': 20, 'k3': 30}

In [8]:
if d1['k3']==30:
    d1['k3']=d1['k3']+100

In [9]:
d1

{'k1': 10, 'k2': 20, 'k3': 130}

# Looping statement

looping statements are used to repeat a task multiple times

# #while loop

In [10]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [11]:
i=1
n=2
while i<=10:
    print(n,"*",i,"=",n*i)
    i=i+1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [12]:
#while with list

In [13]:
l1=[1,2,3,4,5]

In [14]:
i=0

In [16]:
while i<len(l1):
    l1[i]=l1[i]+100
    i=i+1

In [17]:
l1

[101, 102, 103, 104, 105]

# #FOR LOOP

In [18]:
l1=['mango','orange','banana','apple','grapes']

In [19]:
l1

['mango', 'orange', 'banana', 'apple', 'grapes']

In [22]:
for i in l1:
  print(i)

mango
orange
banana
apple
grapes

In [30]:
l1=['black','orange','white']
l2=['chair','laptop','doll']

In [31]:
for i in l1:
    for j in l2:
        print(i,j)

black chair
black laptop
black doll
orange chair
orange laptop
orange doll
white chair
white laptop
white doll

In [34]:
for i in range(0,5):
    for j in range(0,i+1):
        print("*",end=" ")

* * * * * * * * * * * * * * *

In [35]:
a=1
for i in range(0,5):
    for j in range(0,i+1):
        print(a,end=" ")
        a=a+1
        print("\r")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

# Function

is a block of code which performs a specific task

In [36]:
#def--defination

In [37]:
def hello():
    print("hello world")

In [38]:
hello()

hello world

In [41]:
def add_10(x):
    return x+10

In [42]:
add_10(8)

18

In [43]:
def odd_even(x):
    if x%2==0:
        print(x,"is a even")
    else:
        print(x,"is a odd")

In [46]:
odd_even(5)

5 is a odd

In [50]:
a=lambda x:x*x*x

In [52]:
a(5)

125

In [56]:
#lambda with filter

In [57]:
l1=[10,20,33,23,45,88,90,28]

In [58]:
l1

[10, 20, 33, 23, 45, 88, 90, 28]

In [62]:
list(filter(lambda x:(x%2!=0),l1))

[33, 23, 45]

# oops in python

class : is a template /blueprint for real world enties

objects: are  specific instance of a class

# #createing the 1st class

In [3]:
class Phone:
    def make_call(self):
        print("making phone call")
    
    def play_game(self):
        print("playing game")

In [6]:
p1=Phone() #p1 is object

In [7]:
p1.make_call()

making phone call

In [8]:
p1.play_game()

playing game

# #class with constructor

In [10]:
class Employee:
    def _init_(self,name,age ,salary,gender):
        
        self.name=name
        self.age=age
        self.salary=salary
        self.gender=gender
        
    def emp_details(self):
        print("name of employee is",self.name)
        print("age of employee is",self.age)
        print("salary of employee is",self.salary)
        print("gender of employee is",self.gender)

In [20]:
e1 = Employee('ram',32,56000,'male')

TypeError: Employee() takes no arguments

In [21]:
e1.emp_details()

AttributeError: 'Employee' object has no attribute 'name'

# #Inheritance in python

one class can derive the properties of another class

In [31]:
class Vehicle:
    
    def _init_(self,mileage,cost):
        self.mileage=mileage
        self.cost=cost
        
    def show_details(self):
        print("i am a vehicle")
        print("mileage of vehicle",self.mileage)
        print("cost of vehicle",self.cost)

In [32]:
v1=Vehicle(500,500)
v1.show_detail

TypeError: Vehicle() takes no arguments

In [2]:
l1_std_name=['dipa','sudipta','alaka','subham','rupali']

In [3]:
l2_std_mark=[78,89,76,45,56]

In [5]:
l2_std_mark

[78, 89, 76, 45, 56]

In [6]:
l1_std_name

['dipa', 'sudipta', 'alaka', 'subham', 'rupali']